extends layout

block pageContent
  div.wrapper
    p authMethod: #{user.authMethod}
    case user.authMethod
      when 'google'
        each val, index in user
          p= index + ': ' + val
      when 'ldap'
        each val, index in user
          p= index + ': ' + val
      default
        p authMethod listout not implemented. This is an error.
