extends layout

block pageContent
  div.wrapper
    h1= 'Uhoh, error' + ' >,<'
    //h2= error.status
  div.wrapper
    pre #{error.stack}
  div.wrapper
    p Please contact Chris about this error. 
      | Include a screenshot and any other pertinent information.
