extends layout

block pageContent
  div.wrapper
    h2 EPS Upload
    hr
    form(action="/part/upload" method="post" enctype="multipart/form-data")
      input(name="part" type="file")
      br
      input(type="submit" value="Submit")
  div.wrapper
    h2 What is this?
    p
      strong DXF-fixer 
      | is a tool to make work when it aint work.
      br
      | If the large format laser cutter is having trouble importing your .dxf files, upload a .eps file to this site, and it will return a "corrected" .dxf.
      br
      | This tool simply runs the command <i class="command">pstoedit -f "dxf_s: -mm" input.eps output.dxf</i>
      br
  div.wrapper
    h2 How do I use it?
    p
      strong Well, 
      br
      | You can copy the above command and run it yourself. It's pretty fast. But I made this site because I'm both lazy <i>and</i> forgetful..
      br
      br
      strong So,
      br
      br
      | You can also click on the "upload" button, give it your laser file in <i class="command">.eps</i> format, and the server will return to you the working <i class="command">.dxf</i>. Right now it always names the DXF "file.dxf" or something static. If you bug me I may impliment a proper name generator.
      br
    
