extends layout

block pageContent
  div.wrapper
    h2 Status
    p
      | Site should be up. Ta-da.
  div.wrapper
    h2 What is this?
    p
      strong DXF-fixer 
      | is a tool to make shit work when it aint work.
      br
      | If the large laser cutter is having trouble importing your .dxf files, upload a .eps file to this site, and it will return a "corrected" .dxf.
      br
      | This tool simple runs the command 'pstoedit "dxf_s: -mm" input.eps output.dxf'
      br
    
