extends layout

block pageContent
  div.wrapper
    form(action='/api/auth/login' method='post' style="text-align: left;")
      div(class="formGroup")
        label Email
        br
        input(type="text" class="form-control" name="email")
      div(class="formGroup")
        label Password
        br
        input(type="password" class="form-control" name="password")
      button(type="submit" class="btn btn-warning btn-lg") Login
  div.wrapper
    div.buttonLink
      a(href='/auth/google') Login with Google
  div.wrapper
    form(action='/auth/ldap' method='post' style="text-align: left;")
      div(class="formGroup")
        label Makers Local 256 LDAP Username
        br
        input(type="text" class="form-control" name="username")
      div(class="formGroup")
        label Password
        br
        input(type="password" class="form-control" name="password")
      button(type="submit" class="btn btn-warning btn-lg") Login
