body {
  padding: 0px;
  margin: 0px;
  background-color: #0d1f34;
  background-image: url(../images/tiled_bg.png);
  background-repeat: repeat;
  font-family: 'Maven Pro', sans-serif;
  color: #edeaf5;
}

.command {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

a {
  color: #00B7FF;
}

#pageHeader {
  position: relative;
  padding: 20px;
}

#headerLinks {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}

.buttonLink {
  padding: 5px;
  margin: 5px;
  background: #3f3545;
  border: 1px solid #9d9c9d;
  display: inline-block;
}

.buttonLink a {
  display: inline-block;
  float: left;
  text-decoration: none;
}

.wrapper p {
  text-align: left;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-height: 20px;
  background-color: rgba(32, 27, 41, 0.6);
  text-align: center;
  padding: 20px;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.asciiArt {
  float: right;
  padding: 0px;
  margin: 5px;
  display:inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  text-align: left;
}

.formGroup {
  margin-bottom: 10px;
}
